body {
    width: 90%;
    margin: 20px auto;
    color: #ffffff;
}

.profile-header {
    background-color: #1A74E2;
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
}

.profile-body {
    background-color: #1c222b;
    padding: 0px 20px;
}

.profile-label {
    color: grey;
    width: 120px;
}

.profile-bio {
    width: 28%;
    float: right;
}

.profile-comments {
    width: 70%;
    float: left;
} 

.profile-articles {
    width: 70%;
    float: left;
}

.comment-timestamp {
    color: grey;
    padding-right: 15px;
}

.comment-link a {
    color: #1A74E2;
    text-decoration: none;
}

.comment-link a:hover {
    text-decoration: underline;
}

.profile-input {
    padding: 0px;
    font-size: inherit;
    color: inherit;
    background: transparent;
    border: 0px;
    outline: none;
}


.profile-buttons {
    margin-top: 15px;
    background-color: inherit;
    width: 100%;
}

.profile-buttons button {
    color: #ffffff;
    background-color: #1A74E2;
    font-size: 16px;
    border-radius: 0px;
    border: 0px;
    padding: 3px 20px;
    float: right;
    margin-left: 20px;
}

.profile-buttons button:hover {
    background-color: #12519e;
}

