{% extends "base.html" %}        
{% block title %} 50x - Fatal error!{% endblock %}
{% block body %}
        <pre> 
          ______________________________________
         ( Fatal error, this incident will be   )
         ( reported. Sorry for inconvenience :( )
          --------------------------------------
                  \   ^__^
                   \  (xx)\_______
                      (__)\       )\/\
                       U  ||----w |
                          ||     ||
	    </pre>
{% endblock %}
