{% extends "base.html" %}
{% block title %} Confirm {% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/login.css">
{% endblock %}
{% block body %}
        <form class="login">
            {% with messages = get_flashed_messages()%}
            {% for message in messages %}
            <div style="width: 90%; margin-top: 10px; padding: 10px 15px" class="error-block">
                {{ message }}
            </div> 
            {% endfor %}
            {% endwith %}
            <div style="padding: 10px; padding-top: 0px; margin-top:10px"> 
                <label>Confirmation code</label>
                <input type="text"  placeholder="Code" name="token" required>
                <button type="submit" formmethod="post">Submit</button>
            </div>
        </form>
{% endblock %}
