<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<!-- Stylesheets -->
		<link rel="stylesheet" href="static/css/style.css">
	</head>
	<body>
        <header>
            {% if ADMIN_MSG is not none %}
            <div class="prompt">
                <marquee scrolldelay="61">
                    !!! <span style="color:white">{{ ADMIN_MSG }}</span> !!!
                </marquee>
            </div>
            {% endif %}
            <hr>
        </header>
        <div class="articles">
                          
        </div>
        <footer class="footer">
            <hr>
        </footer>
	</body>
</html>
