<!DOCTYPE html>
<html lang="end">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<title>Log In - Zion</title>
		
		<link rel="stylesheet" href="static/css/style.css">
	</head>
	<body>
        <form class="login">
            <div style="padding: 25px"> 
                <label>Username</label>
                <input type="text"  placeholder="Username" name="username" required>
                {% if INVALID_CRED %}
                <label class="text-error">Invalid login or password!</label><br />
                {% endif %}
                <label style="margin-top: 12px">Password</label>
                <input type="password"  placeholder="Password" name="password" required>
                <input type="checkbox"> Remember me
                <button type="submit" formmethod="post">Submit</button>
            </div>
        </form>
	</body>
</html>
