{% extends "base.html" %}
{% block title %} Zion - register {% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/login.css">
{% endblock %}
{% block body %}
        <form class="login">
            {% with messages = get_flashed_messages()%}
            {% for message in messages %}
            <div style="width: 90%; margin-top: 10px; padding: 10px 15px" class="error-block">
                {{ message }}
            </div> 
            {% endfor %}
            {% endwith %}
            <div style="padding: 10px; display:table; padding-top: 0px; margin-top:10px"> 
                <label>Username</label>
                <input type="text"  placeholder="Username" name="username" required>
                <label style="margin-top: 12px">Password</label>
                <input type="password"  placeholder="Password" name="password" required>
                <label style="margin-top: 12px">Password <small>(repeat)</small></label>
                <input type="password"  placeholder="Password" name="rpassword" required>
                {% if config["REQUIRE_MAIL"] %}
                <label>Email</label>
                <input type="email"  placeholder="Email" name="email" required>
                {% endif %}
                <button type="submit" formmethod="post">Submit</button>
            </div>
        </form>
{% endblock %}
